@font-face {
  font-family: "Erode";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(./Erode-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Erode";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url(./Erode-Bold.woff2) format("woff2");
}